a{
    text-decoration: none;

}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Arial;

}
img{
    width:100%;
}
#heross{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('image/saudi3.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.her{
    font-size: 13px;
    padding: 0;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 0;
    margin: 0 50px;
    gap: 100px;
    height: 50px;
}
.nav-list{
    padding-left: 0;
    margin-right: 30px;
    width: 420px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation li{
    padding: 20px;
    flex-shrink: 1;
    
}

.menu{
    font-size: 20px;
    color: white;
    display: none;
}
.home{
    color: rgb(255, 111, 0);
}
.navigation li a:hover{
    color: rgb(255, 111, 0);
}
.logos{
    display: flex;
    height: 50px;
    flex-shrink: 0;
    object-fit: cover;
}
ul{
    list-style: none;

}
li a{
    text-decoration: none;
    font-weight: 700;
    color: white;
}

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    
}
.hero-titles{
    width: 45%;
    margin-top: 30px;
    font-family: Arial;

}
.heero-image{
    margin-top: 65px;
}
.hero-titles h2{
    color: white;
    font-weight: 800;
    font-size: 30px;
    margin-left: 50px;
    padding: 0;
}
.her{
    color: rgb(255, 111, 0);
}

.provider{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.meeting1{
    width: 30%;
    object-fit: cover;
    display: flex;
    flex-shrink: 0;
    background-size: cover;
    margin-right: 20px;
    
}
.provider-desc{
    width: 50%;
    gap: 0;
}

.provider-desc h4{
    color: blue;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}
.provide-title{
    font-size: 26px;
    font-weight: 500px;
    color: rgb(231, 104, 6);
}

.number{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('image/ai-image.jpeg ');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 20px 0;
    height: 150px;
    align-items: center;
}
.counter{
    font-size: 50px;
    font-weight: 700;
}

.aaa{
    height: 300px;
}

.numbers{
    display: flex;
    flex-direction: column;
    gap: 50px;
    height: 80%;
    justify-content: center;
    
}

.numDiscc{
    font-size: 17px;
    font-weight: bold;
    margin-top: -35px;
}

.provid-detail{
    font-weight: 500;
    width: 100%;
}
.providers{
    font-size: 30px;
    width: 290px;
    font-weight: 500px;
    color: rgb(231, 104, 6);
}
.meetTeam{
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}
.meetTeam h3{
    font-size: 23px;
    font-weight: 700;
    color: rgb(231, 104, 6);
}
.teamers{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.members{
    display: flex;
    flex-direction: column;

    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 250px;
    height: 300px;
    align-items: flex-start;
    

}
.meeet{
    color: black;
}
.members:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    scale: 1.05;
}
.teams{
    width: 100%;
    height: 260px;
    background-image: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)), url(image/first-man.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.b{
    background-image: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)), url(image/female.jpeg);
}
.c{
    background-image: linear-gradient(rgb(0,0,0,0.2),rgb(0,0,0,0.2)), url(image/second-man.jpeg);
}
.teamName{
    font-weight: 600;
    color: rgb(255, 111, 0);
}
.teamRole{
    font-weight: bold;
    font-size: 15px;
    align-self: center;
    margin-top: -5px;
}

.foots{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding: 30px 20px 0 0;
}
.footTitle{
    color: rgb(255, 111, 0);
    font-weight: bold;

}

.foot{
    display: flex;
    width: 80%;
    justify-content: space-around;


}
.link a{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;

}
.foots a{
    color: white;
}
.footss .link{
    margin-top: -20px;
}
.foots .link{
    margin-top: -10px;
}
.copyright{
    text-align: center;
    color: rgb(141, 141, 141);
}


@media (max-width:970px){
    .meeting1{
        height: 350px;
        object-fit: cover;
    }
    .provid-detail{
        font-size: 15px;
    }
    .teamers{
        max-width: 90%;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 750px){
    .hero-titles{
        width: 100%;
        text-align: center;
    }
    .provider{
        flex-direction: column;
        align-items: center;
    }
    .meeting1{
        width: 80%;
    }
    .provider-desc{
        width: 80%;
    }
    .provider-desc h4{
        margin: 20px 0;
        text-align: center;
    }
    .counter{
        font-size: 30px;

    }
    .providers{
        width: 100%;
        text-align: center;
        font-size: 23px;
    }
    .foot{
        flex-direction: column;
        align-items: center;
    }