*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;

}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Arial;

}
img{
    width:100%;
}
#heross{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('image/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 0;
    margin: 0 50px;
    gap: 100px;
    height: 50px;
}
.nav-list{
    padding-left: 0;
    margin-right: 30px;
    width: 420px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation li{
    padding: 20px;
    flex-shrink: 1;

}

.menu{
    font-size: 20px;
    color: white;
    display: none;
}
.home{
    color: rgb(255, 111, 0);
}
.navigation li a:hover{
    color: rgb(255, 111, 0);
}
.logos{
    display: flex;
    height: 50px;
    flex-shrink: 0;
    object-fit: cover;
}
ul{
    list-style: none;

}
li a{
    text-decoration: none;
    font-weight: 700;
    color: white;

}