*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;

}
body{
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Arial;

}
img{
    width:100%;
}
#heross{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('image/hero.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 0;
    margin: 0 50px;
    gap: 100px;
    height: 50px;
}
.nav-list{
    padding-left: 0;
    margin-right: 30px;
    width: 420px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation li{
    padding: 20px;
    flex-shrink: 1;

}

.menu{
    font-size: 20px;
    color: white;
    display: none;
}
.home{
    color: rgb(255, 111, 0);
}
.navigation li a:hover{
    color: rgb(255, 111, 0);
}
.logos{
    display: flex;
    height: 50px;
    flex-shrink: 0;
    object-fit: cover;
}
ul{
    list-style: none;

}
li a{
    text-decoration: none;
    font-weight: 700;
    color: white;

}

#langg{
    background-color: transparent;
    font-weight: 600;
    border: none;
    color: rgb(255, 111, 0);
    cursor: pointer;
}
#down{
    color: white;
    padding-left: 5px;
    cursor: pointer;

}
.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
    
}
.hero-titles{
    width: 45%;
    margin-top: 30px;
    font-family: Arial;

}
.heero-image{
    margin-top: 65px;
}
.hero-titles h2{
    color: white;
    font-weight: 800;
    font-size: 25px;
}
.her{
    color: rgb(255, 111, 0);
}

.learnmore{
    background:rgb(255, 111, 0);
    border: 1px solid transparent;
    color: white;
    padding: 9px 18px;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.2s;
}
.learnmore:hover{
    background-color: transparent;
    border: 1px solid rgb(255, 111, 0);
    color: rgb(255, 111, 0);
}
.hero-bag{
    width:450px ;
}

.our-service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.our-service h3{
    font-size: 23px;
    font-weight: 700;
    color: rgb(231, 104, 6);
}
.ourserve{
    width: 80px; 
    padding: 0 50px;
    object-fit: contain;
    
}
.serve-boxes{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;

}

.memberss{
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width:170px;
    height: 210px;
    align-items: center;
    text-align: center;
    
}

.memberss:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    scale: 1.05;
}
.memberss h4{
    color: rgb(255, 111, 0);
}
.tteams{
    width: 100%;
    padding: 10px 0 0 0 ;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
    border-radius: 10px;
}

.g{
    margin-bottom: -15px;
    background-image: url(image/times1-01.png); 
}
.f{
    background-image: url(image/times2-01.png);
}
.e{
    background-image: url(image/times3-01.png);
}
.d{
    background-image: url(image/times4-01.png);
}
.teamers{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    z-index: 100;
}

.call{
    color: white;

}
.meeet{
    color: black;
}
.ourDesc{
    margin-top: -10px;
}
.serve-individual:hover{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
    scale: 1.05;
}
.serve-individual h4{
    font-size: 17px;
    color: rgb(255, 111, 0);
    transition: 0.2s;
    margin-top: -10px;
}
